@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&family=Urbanist:wght@100&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.h1,
img {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.scores {
  background: rgba(255, 252, 252, 0.475);
  backdrop-filter: blur(24px);
  display: absolute;
  margin-left: 1rem;
  padding: 0 2rem;
  -webkit-backdrop-filter: blur(14px);
  font-size: 1.5rem;
  border-radius: 3rem;
}

.text-attempt {
  font-size: 1.5rem;
  color: rgb(108, 15, 108);
}

.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04aa6d;
  border: none;
  border-radius: 25px;
  box-shadow: 0 9px #999;
}

.buttons:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
